@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Kode+Mono:wght@400..700&family=Metal+Mania&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.font-bruco{
    font-family: "Bruno Ace SC", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{
    width: 22rem;
    
}

.cards{
    width:auto;
    margin: 0  auto;   
}
